<div class="title">commentary</div>

<div class="ci-yml-commentary">
  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line trail">here...trail
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line pull-request">here...pull-request
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line lint">here...lint
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line artifact">here...dashboard
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line unit-test">here...unit-test
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line branch-coverage">here...branch-coverage
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line snyk">here...snyk
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

</div>
