{% extends "base.html" %}

{% block body %}
<div id="dashboard-explain">
  <table>
    <tr>
      <td>{% include 'simple/template-yml.html' %}</td>
      <td>{% include 'simple/template-yml-commentary.html' %}</td>
    </tr>
  </table>
  {% include 'simple/attestations.html' %}
  <table>
    <tr>
      <td>{% include 'simple/ci-yml.html' %}</td>
      <td>{% include 'simple/ci-yml-commentary.html' %}</td>
    </tr>
  </table>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(window).ready(()=> {

    setupExplainCodeHandlers('#dashboard-explain');

  });
</script>
{% endblock %}
