<div class="title">&nbsp;</div>

<div class="code-explanation ci-yml-commentary">

  <div class="para dry-run">dry run ...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
  </div>

  <div class="para host">
    Companies with a custom auth+SSO+domain will set this to their domain, eg https://acme.app.kosli.com
  </div>

  <div class="para common">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="para trail">trail ...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>

  <div class="para pull-request">pull-request ...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="para lint">
    The <code>--raise-cop-error</code> flag on line 98 means the rubocop call will return a non-zero exit code if
    any lint violations are found. This means:
    <ul>
      <li>when there are no rubocop lint violations, the <code>kosli attest generic</code> command on line 100 will run, with
    the default <code>--compliant=true</code></li>
      <li>when there are rubocop lint violations, the <code>kosli attest generic</code> command will <em>not</em> run.
        The <code>dashboard.lint</code> evidence will be <em>missing</em>, causing the overall compliance of the
        <code>dashboard</code> artifact to be incompliant.</li>
      On the assumption that only compliant artifacts get deployed, this is perfectly acceptable,
      since your auditors will only need proof for deployed artifacts.
    </ul>
    If you wish to also attest incompliant evidence, you could run <code>rubocop</code> like this:
    <div class="explained-code">
      <span class="line">      set +e</span>
      <span class="line">      rubocop --raise-cop-error . | tee ${KOSLI_EVIDENCE_PATHS}/rubocop.log</span>
      <span class="line">      STATUS=${PIPESTATUS[0]}</span>
      <span class="line">      set -e</span>
    </div>
    set the <code>KOSLI_COMPLIANT</code> flag based on $STATUS:
    <div class="explained-code">
      <span class="line">      KOSLI_COMPLIANT=$([ ${STATUS} = 0 ] && echo true || echo false)</span>
    </div>
    and then run <code>kosli attest generic</code>:
    <div class="explained-code">
      <span class="line">      kosli attest generic \</span>
      <span class="line">        --evidence-paths=${KOSLI_EVIDENCE_PATHS} \</span>
      <span class="line">        --name=dashboard.lint</span>
    </div>
    If you wish the <code>kosli attest generic</code> call to return a non-zero exit code when
    <code>KOSLI_COMPLIANT</code> is false, add <code>exit ${STATUS}</code>.
  </div>

  <div class="para artifact">artifact ...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>

  <div class="para unit-test">unit-test ...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="para branch-coverage">branch-coverage ...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="para snyk">snyk ...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

</div>
