<div class='title'>.kosli.yml</div>
<div class='template-yml'>
  <span class='line n '>{% raw %}<span class='number'>   1</span> version: 1                                                                                  {% endraw %}</span>
  <span class='line n '>{% raw %}<span class='number'>   2</span>                                                                                             {% endraw %}</span>
  <span class='line s trail'>{% raw %}<span class='number'>   3</span> trail:                                                                                      {% endraw %}</span>
  <span class='line n '>{% raw %}<span class='number'>   4</span>   artifacts:                                                                                {% endraw %}</span>
  <span class='line s artifact pull-request lint unit-test branch-coverage snyk'>{% raw %}<span class='number'>   5</span>     - name: dashboard                                                                       {% endraw %}</span>
  <span class='line n '>{% raw %}<span class='number'>   6</span>       attestations:                                                                         {% endraw %}</span>
  <span class='line s pull-request'>{% raw %}<span class='number'>   7</span>         - name: pull-request                                                                {% endraw %}</span>
  <span class='line s pull-request'>{% raw %}<span class='number'>   8</span>           type: pull_request                                                                {% endraw %}</span>
  <span class='line s lint'>{% raw %}<span class='number'>   9</span>         - name: lint                                                                        {% endraw %}</span>
  <span class='line s lint'>{% raw %}<span class='number'>  10</span>           type: generic                                                                     {% endraw %}</span>
  <span class='line s unit-test'>{% raw %}<span class='number'>  11</span>         - name: unit-test                                                                   {% endraw %}</span>
  <span class='line s unit-test'>{% raw %}<span class='number'>  12</span>           type: junit                                                                       {% endraw %}</span>
  <span class='line s branch-coverage'>{% raw %}<span class='number'>  13</span>         - name: branch-coverage                                                             {% endraw %}</span>
  <span class='line s branch-coverage'>{% raw %}<span class='number'>  14</span>           type: generic                                                                     {% endraw %}</span>
  <span class='line s snyk'>{% raw %}<span class='number'>  15</span>         - name: snyk-scan                                                                   {% endraw %}</span>
  <span class='line s snyk'>{% raw %}<span class='number'>  16</span>           type: snyk                                                                        {% endraw %}</span>
</div>
