<table>
  <tr>
    <td>
      <div class="attest"
           data-name="dashboard_pull-request">
        <div>dashboard.pull-request</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="dashboard_lint">
        <div>dashboard.lint</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="dashboard">
        <div>dashboard</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="dashboard_unit-test">
        <div>dashboard.unit-test</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="dashboard_snyk">
        <div>dashboard.snyk</div>
        <div>[tick]</div>
      </div>
    </td>

  </tr>
</table>
