<div class="title">commentary</div>

<div class="ci-yml-commentary">
  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line trail">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_pull-request">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_lint">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_unit-test">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_branch-coverage">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_snyk">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

</div>
