<div class='title'>Github Actions workflow</div>
<div class='ci-yml'>
  <span class='line '>{% raw %}  1 name: Reports Trails to https://app.kosli.com{% endraw %}</span>
  <span class='line '>{% raw %}  2 {% endraw %}</span>
  <span class='line '>{% raw %}  3 on:{% endraw %}</span>
  <span class='line '>{% raw %}  4   push:{% endraw %}</span>
  <span class='line '>{% raw %}  5     branches:{% endraw %}</span>
  <span class='line '>{% raw %}  6       - main{% endraw %}</span>
  <span class='line '>{% raw %}  7 {% endraw %}</span>
  <span class='line '>{% raw %}  8 env:{% endraw %}</span>
  <span class='line '>{% raw %}  9   KOSLI_DRY_RUN: ${{ vars.KOSLI_DRY_RUN }} # False{% endraw %}</span>
  <span class='line '>{% raw %} 10   KOSLI_HOST: https://app.kosli.com{% endraw %}</span>
  <span class='line '>{% raw %} 11   KOSLI_ORG: cyber-dojo{% endraw %}</span>
  <span class='line '>{% raw %} 12   KOSLI_API_TOKEN: ${{ secrets.KOSLI_API_TOKEN_TRAILS }}{% endraw %}</span>
  <span class='line '>{% raw %} 13   KOSLI_FLOW: dashboard{% endraw %}</span>
  <span class='line '>{% raw %} 14 {% endraw %}</span>
  <span class='line '>{% raw %} 15 jobs:{% endraw %}</span>
  <span class='line '>{% raw %} 16 {% endraw %}</span>
  <span class='line '>{% raw %} 17   kosli-trail:{% endraw %}</span>
  <span class='line '>{% raw %} 18     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %} 19     outputs:{% endraw %}</span>
  <span class='line '>{% raw %} 20       image_tag:   ${{ steps.variables.outputs.image_tag }}{% endraw %}</span>
  <span class='line '>{% raw %} 21       image_name:  ${{ steps.variables.outputs.image_name }}{% endraw %}</span>
  <span class='line '>{% raw %} 22       kosli_trail: ${{ steps.variables.outputs.kosli_trail }}{% endraw %}</span>
  <span class='line '>{% raw %} 23     steps:{% endraw %}</span>
  <span class='line '>{% raw %} 24       - uses: actions/checkout@v4{% endraw %}</span>
  <span class='line '>{% raw %} 25 {% endraw %}</span>
  <span class='line '>{% raw %} 26       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %} 27         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %} 28         with:{% endraw %}</span>
  <span class='line '>{% raw %} 29           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %} 30 {% endraw %}</span>
  <span class='line '>{% raw %} 31       - name: Create Kosli Flow{% endraw %}</span>
  <span class='line '>{% raw %} 32         run:{% endraw %}</span>
  <span class='line '>{% raw %} 33           kosli create flow "${{ env.KOSLI_FLOW }}"{% endraw %}</span>
  <span class='line '>{% raw %} 34             --description="Diff files from two traffic-lights"{% endraw %}</span>
  <span class='line '>{% raw %} 35             --template-file=.kosli.yml{% endraw %}</span>
  <span class='line '>{% raw %} 36 {% endraw %}</span>
  <span class='line '>{% raw %} 37       - name: Begin Kosli Trail{% endraw %}</span>
  <span class='line '>{% raw %} 38         run:{% endraw %}</span>
  <span class='line trail'>{% raw %} 39           kosli begin trail "${GITHUB_SHA}"{% endraw %}</span>
  <span class='line '>{% raw %} 40 {% endraw %}</span>
  <span class='line '>{% raw %} 41       - name: Set outputs{% endraw %}</span>
  <span class='line '>{% raw %} 42         id: variables{% endraw %}</span>
  <span class='line '>{% raw %} 43         run: |{% endraw %}</span>
  <span class='line '>{% raw %} 44           IMAGE_TAG=${GITHUB_SHA:0:7}{% endraw %}</span>
  <span class='line '>{% raw %} 45           echo "image_tag=${IMAGE_TAG}" >> ${GITHUB_OUTPUT}{% endraw %}</span>
  <span class='line '>{% raw %} 46           echo "image_name=cyberdojo/${{ env.KOSLI_FLOW }}:${IMAGE_TAG}" >> ${GITHUB_OUTPUT}{% endraw %}</span>
  <span class='line '>{% raw %} 47           echo "kosli_trail=${GITHUB_SHA}" >> ${GITHUB_OUTPUT}{% endraw %}</span>
  <span class='line '>{% raw %} 48 {% endraw %}</span>
  <span class='line '>{% raw %} 49 {% endraw %}</span>
  <span class='line '>{% raw %} 50   pull-request:{% endraw %}</span>
  <span class='line '>{% raw %} 51     needs: [kosli-trail]{% endraw %}</span>
  <span class='line '>{% raw %} 52     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %} 53     env:{% endraw %}</span>
  <span class='line '>{% raw %} 54       KOSLI_TRAIL: ${{ needs.kosli-trail.outputs.kosli_trail }}{% endraw %}</span>
  <span class='line '>{% raw %} 55     permissions:{% endraw %}</span>
  <span class='line '>{% raw %} 56       id-token: write{% endraw %}</span>
  <span class='line '>{% raw %} 57       contents: write{% endraw %}</span>
  <span class='line '>{% raw %} 58       pull-requests: read{% endraw %}</span>
  <span class='line '>{% raw %} 59     steps:{% endraw %}</span>
  <span class='line '>{% raw %} 60       - uses: actions/checkout@v4{% endraw %}</span>
  <span class='line '>{% raw %} 61 {% endraw %}</span>
  <span class='line '>{% raw %} 62       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %} 63         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %} 64         with:{% endraw %}</span>
  <span class='line '>{% raw %} 65           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %} 66 {% endraw %}</span>
  <span class='line '>{% raw %} 67       - name: Attest pull-request evidence to Kosli{% endraw %}</span>
  <span class='line '>{% raw %} 68         run:{% endraw %}</span>
  <span class='line dashboard_pull-request'>{% raw %} 69           kosli attest pullrequest github{% endraw %}</span>
  <span class='line dashboard_pull-request'>{% raw %} 70             --github-token ${{ secrets.GITHUB_TOKEN }}{% endraw %}</span>
  <span class='line dashboard_pull-request'>{% raw %} 71             --name=dashboard.pull-request{% endraw %}</span>
  <span class='line '>{% raw %} 72 {% endraw %}</span>
  <span class='line '>{% raw %} 73 {% endraw %}</span>
  <span class='line '>{% raw %} 74   lint:{% endraw %}</span>
  <span class='line '>{% raw %} 75     needs: [kosli-trail]{% endraw %}</span>
  <span class='line '>{% raw %} 76     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %} 77     env:{% endraw %}</span>
  <span class='line '>{% raw %} 78       KOSLI_TRAIL: ${{ needs.kosli-trail.outputs.kosli_trail }}{% endraw %}</span>
  <span class='line '>{% raw %} 79     steps:{% endraw %}</span>
  <span class='line '>{% raw %} 80       - uses: actions/checkout@v4{% endraw %}</span>
  <span class='line '>{% raw %} 81 {% endraw %}</span>
  <span class='line '>{% raw %} 82       - uses: ruby/setup-ruby@v1{% endraw %}</span>
  <span class='line '>{% raw %} 83         with:{% endraw %}</span>
  <span class='line '>{% raw %} 84           ruby-version: 3.2.0{% endraw %}</span>
  <span class='line '>{% raw %} 85           bundler-cache: true{% endraw %}</span>
  <span class='line '>{% raw %} 86 {% endraw %}</span>
  <span class='line '>{% raw %} 87       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %} 88         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %} 89         with:{% endraw %}</span>
  <span class='line '>{% raw %} 90           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %} 91 {% endraw %}</span>
  <span class='line '>{% raw %} 92       - name: Run Rubocop linter on source, attest evidence to Kosli Trail{% endraw %}</span>
  <span class='line '>{% raw %} 93         run: |{% endraw %}</span>
  <span class='line '>{% raw %} 94           LINT_EVIDENCE_DIR=/tmp/evidence/lint{% endraw %}</span>
  <span class='line '>{% raw %} 95           mkdir -p "${LINT_EVIDENCE_DIR}"{% endraw %}</span>
  <span class='line '>{% raw %} 96           gem install rubocop{% endraw %}</span>
  <span class='line '>{% raw %} 97           set +e{% endraw %}</span>
  <span class='line '>{% raw %} 98           rubocop --raise-cop-error . > "${LINT_EVIDENCE_DIR}"/rubocop.log{% endraw %}</span>
  <span class='line '>{% raw %} 99           STATUS=$?{% endraw %}</span>
  <span class='line '>{% raw %}100           set -e{% endraw %}</span>
  <span class='line '>{% raw %}101 {% endraw %}</span>
  <span class='line '>{% raw %}102           KOSLI_LINT_COMPLIANT=$([ ${STATUS} = 0 ] && echo true || echo false){% endraw %}</span>
  <span class='line '>{% raw %}103           cp .rubocop.yml "${LINT_EVIDENCE_DIR}"{% endraw %}</span>
  <span class='line dashboard_lint'>{% raw %}104           kosli attest generic \{% endraw %}</span>
  <span class='line dashboard_lint'>{% raw %}105             --compliant="${KOSLI_LINT_COMPLIANT}" \{% endraw %}</span>
  <span class='line dashboard_lint'>{% raw %}106             --evidence-paths="${LINT_EVIDENCE_DIR}" \{% endraw %}</span>
  <span class='line dashboard_lint'>{% raw %}107             --name=dashboard.lint{% endraw %}</span>
  <span class='line '>{% raw %}108           exit $STATUS{% endraw %}</span>
  <span class='line '>{% raw %}109 {% endraw %}</span>
  <span class='line '>{% raw %}110 {% endraw %}</span>
  <span class='line '>{% raw %}111   build-image:{% endraw %}</span>
  <span class='line '>{% raw %}112     needs: [kosli-trail]{% endraw %}</span>
  <span class='line '>{% raw %}113     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %}114     env:{% endraw %}</span>
  <span class='line '>{% raw %}115       KOSLI_TRAIL: ${{ needs.kosli-trail.outputs.kosli_trail }}{% endraw %}</span>
  <span class='line '>{% raw %}116       IMAGE_NAME:  ${{ needs.kosli-trail.outputs.image_name }}{% endraw %}</span>
  <span class='line '>{% raw %}117     outputs:{% endraw %}</span>
  <span class='line '>{% raw %}118       kosli_fingerprint: ${{ steps.variables.outputs.kosli_fingerprint }}{% endraw %}</span>
  <span class='line '>{% raw %}119     steps:{% endraw %}</span>
  <span class='line '>{% raw %}120       - uses: actions/checkout@v4{% endraw %}</span>
  <span class='line '>{% raw %}121 {% endraw %}</span>
  <span class='line '>{% raw %}122       - name: Wait for image to be built in main.yml{% endraw %}</span>
  <span class='line '>{% raw %}123         run:{% endraw %}</span>
  <span class='line '>{% raw %}124           ./sh/wait_for_image.sh "${IMAGE_NAME}"{% endraw %}</span>
  <span class='line '>{% raw %}125 {% endraw %}</span>
  <span class='line '>{% raw %}126       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %}127         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %}128         with:{% endraw %}</span>
  <span class='line '>{% raw %}129           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %}130 {% endraw %}</span>
  <span class='line '>{% raw %}131       - name: Attest artifact evidence to Kosli flow{% endraw %}</span>
  <span class='line '>{% raw %}132         run:{% endraw %}</span>
  <span class='line dashboard'>{% raw %}133           kosli attest artifact "${IMAGE_NAME}"{% endraw %}</span>
  <span class='line dashboard'>{% raw %}134             --artifact-type=docker{% endraw %}</span>
  <span class='line dashboard'>{% raw %}135             --name=dashboard{% endraw %}</span>
  <span class='line dashboard'>{% raw %}136             --trail="${GITHUB_SHA}"{% endraw %}</span>
  <span class='line '>{% raw %}137 {% endraw %}</span>
  <span class='line '>{% raw %}138       - name: Set outputs{% endraw %}</span>
  <span class='line '>{% raw %}139         id: variables{% endraw %}</span>
  <span class='line '>{% raw %}140         run: |{% endraw %}</span>
  <span class='line '>{% raw %}141           FINGERPRINT=$(kosli fingerprint "${IMAGE_NAME}" --artifact-type=docker){% endraw %}</span>
  <span class='line '>{% raw %}142           echo "kosli_fingerprint=${FINGERPRINT}" >> ${GITHUB_OUTPUT}{% endraw %}</span>
  <span class='line '>{% raw %}143 {% endraw %}</span>
  <span class='line '>{% raw %}144 {% endraw %}</span>
  <span class='line '>{% raw %}145   unit-tests:{% endraw %}</span>
  <span class='line '>{% raw %}146     needs: [build-image, kosli-trail]{% endraw %}</span>
  <span class='line '>{% raw %}147     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %}148     env:{% endraw %}</span>
  <span class='line '>{% raw %}149       KOSLI_TRAIL: ${{ needs.kosli-trail.outputs.kosli_trail }}{% endraw %}</span>
  <span class='line '>{% raw %}150       IMAGE_NAME:  ${{ needs.kosli-trail.outputs.image_name }}{% endraw %}</span>
  <span class='line '>{% raw %}151       KOSLI_FINGERPRINT: ${{ needs.build-image.outputs.kosli_fingerprint }}{% endraw %}</span>
  <span class='line '>{% raw %}152     steps:{% endraw %}</span>
  <span class='line '>{% raw %}153       - uses: actions/checkout@v4{% endraw %}</span>
  <span class='line '>{% raw %}154 {% endraw %}</span>
  <span class='line '>{% raw %}155       - name: Run tests; saves results to test/reports/evidence.json file{% endraw %}</span>
  <span class='line '>{% raw %}156         run: |{% endraw %}</span>
  <span class='line '>{% raw %}157           source ./sh/run_tests_with_coverage.sh{% endraw %}</span>
  <span class='line '>{% raw %}158           if run_tests_with_coverage; then{% endraw %}</span>
  <span class='line '>{% raw %}159             echo "KOSLI_COMPLIANT=true" >> ${GITHUB_ENV}{% endraw %}</span>
  <span class='line '>{% raw %}160           else{% endraw %}</span>
  <span class='line '>{% raw %}161             echo "KOSLI_COMPLIANT=false" >> ${GITHUB_ENV}{% endraw %}</span>
  <span class='line '>{% raw %}162           fi{% endraw %}</span>
  <span class='line '>{% raw %}163 {% endraw %}</span>
  <span class='line '>{% raw %}164       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %}165         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %}166         with:{% endraw %}</span>
  <span class='line '>{% raw %}167           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %}168 {% endraw %}</span>
  <span class='line '>{% raw %}169       - name: Attest test evidence to Kosli{% endraw %}</span>
  <span class='line '>{% raw %}170         run:{% endraw %}</span>
  <span class='line dashboard_unit-test'>{% raw %}171           kosli attest junit "${IMAGE_NAME}"{% endraw %}</span>
  <span class='line dashboard_unit-test'>{% raw %}172               --name=dashboard.unit-test{% endraw %}</span>
  <span class='line dashboard_unit-test'>{% raw %}173               --results-dir=test/reports/junit{% endraw %}</span>
  <span class='line '>{% raw %}174 {% endraw %}</span>
  <span class='line '>{% raw %}175       - name: Attest branch-coverage evidence to Kosli{% endraw %}</span>
  <span class='line '>{% raw %}176         env:{% endraw %}</span>
  <span class='line '>{% raw %}177           KOSLI_COMPLIANT: ${{ env.KOSLI_COMPLIANT }}{% endraw %}</span>
  <span class='line '>{% raw %}178         run:{% endraw %}</span>
  <span class='line dashboard_branch-coverage'>{% raw %}179           kosli attest generic "${IMAGE_NAME}"{% endraw %}</span>
  <span class='line dashboard_branch-coverage'>{% raw %}180               --compliant=${KOSLI_COMPLIANT}{% endraw %}</span>
  <span class='line dashboard_branch-coverage'>{% raw %}181               --evidence-paths=./test/reports/evidence.json{% endraw %}</span>
  <span class='line dashboard_branch-coverage'>{% raw %}182               --name=dashboard.branch-coverage{% endraw %}</span>
  <span class='line '>{% raw %}183 {% endraw %}</span>
  <span class='line '>{% raw %}184 {% endraw %}</span>
  <span class='line '>{% raw %}185   snyk-scan:{% endraw %}</span>
  <span class='line '>{% raw %}186     needs: [build-image, kosli-trail]{% endraw %}</span>
  <span class='line '>{% raw %}187     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %}188     env:{% endraw %}</span>
  <span class='line '>{% raw %}189       KOSLI_TRAIL: ${{ needs.kosli-trail.outputs.kosli_trail }}{% endraw %}</span>
  <span class='line '>{% raw %}190       IMAGE_NAME:  ${{ needs.kosli-trail.outputs.image_name }}{% endraw %}</span>
  <span class='line '>{% raw %}191       KOSLI_FINGERPRINT: ${{ needs.build-image.outputs.kosli_fingerprint }}{% endraw %}</span>
  <span class='line '>{% raw %}192       SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}{% endraw %}</span>
  <span class='line '>{% raw %}193     steps:{% endraw %}</span>
  <span class='line '>{% raw %}194       - uses: actions/checkout@v4{% endraw %}</span>
  <span class='line '>{% raw %}195 {% endraw %}</span>
  <span class='line '>{% raw %}196       - name: Setup Snyk{% endraw %}</span>
  <span class='line '>{% raw %}197         uses: snyk/actions/setup@master{% endraw %}</span>
  <span class='line '>{% raw %}198 {% endraw %}</span>
  <span class='line '>{% raw %}199       - name: Run Snyk to check Docker image for vulnerabilities{% endraw %}</span>
  <span class='line '>{% raw %}200         continue-on-error: true{% endraw %}</span>
  <span class='line '>{% raw %}201         run:{% endraw %}</span>
  <span class='line '>{% raw %}202           snyk container test ${IMAGE_NAME}{% endraw %}</span>
  <span class='line '>{% raw %}203             --file=Dockerfile{% endraw %}</span>
  <span class='line '>{% raw %}204             --json-file-output=snyk.json{% endraw %}</span>
  <span class='line '>{% raw %}205             --policy-path=.snyk{% endraw %}</span>
  <span class='line '>{% raw %}206 {% endraw %}</span>
  <span class='line '>{% raw %}207       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %}208         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %}209         with:{% endraw %}</span>
  <span class='line '>{% raw %}210           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %}211 {% endraw %}</span>
  <span class='line '>{% raw %}212       - name: Attest Snyk evidence to Kosli{% endraw %}</span>
  <span class='line '>{% raw %}213         run:{% endraw %}</span>
  <span class='line dashboard_snyk'>{% raw %}214           kosli attest snyk ${IMAGE_NAME}{% endraw %}</span>
  <span class='line dashboard_snyk'>{% raw %}215             --name=dashboard.snyk-scan{% endraw %}</span>
  <span class='line dashboard_snyk'>{% raw %}216             --scan-results=snyk.json{% endraw %}</span>
  <span class='line '>{% raw %}217 {% endraw %}</span>
  <span class='line '>{% raw %}218 {% endraw %}</span>
  <span class='line '>{% raw %}219   sdlc-control-gate:{% endraw %}</span>
  <span class='line '>{% raw %}220     needs: [pull-request, lint, unit-tests, snyk-scan, kosli-trail, build-image]{% endraw %}</span>
  <span class='line '>{% raw %}221     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %}222     env:{% endraw %}</span>
  <span class='line '>{% raw %}223       IMAGE_NAME:        ${{ needs.kosli-trail.outputs.image_name }}{% endraw %}</span>
  <span class='line '>{% raw %}224       KOSLI_FINGERPRINT: ${{ needs.build-image.outputs.kosli_fingerprint }}{% endraw %}</span>
  <span class='line '>{% raw %}225     steps:{% endraw %}</span>
  <span class='line '>{% raw %}226       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %}227         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %}228         with:{% endraw %}</span>
  <span class='line '>{% raw %}229           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %}230 {% endraw %}</span>
  <span class='line '>{% raw %}231       - name: Kosli SDLC gate to short-circuit-the-flow{% endraw %}</span>
  <span class='line '>{% raw %}232         run:{% endraw %}</span>
  <span class='line '>{% raw %}233           kosli assert artifact ${IMAGE_NAME}{% endraw %}</span>
  <span class='line '>{% raw %}234 {% endraw %}</span>
  <span class='line '>{% raw %}235 {% endraw %}</span>
  <span class='line '>{% raw %}236   approve-deployment-to-beta:{% endraw %}</span>
  <span class='line '>{% raw %}237     needs: [sdlc-control-gate, kosli-trail, build-image]{% endraw %}</span>
  <span class='line '>{% raw %}238     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %}239     env:{% endraw %}</span>
  <span class='line '>{% raw %}240       IMAGE_NAME:        ${{ needs.kosli-trail.outputs.image_name }}{% endraw %}</span>
  <span class='line '>{% raw %}241       KOSLI_FINGERPRINT: ${{ needs.build-image.outputs.kosli_fingerprint }}{% endraw %}</span>
  <span class='line '>{% raw %}242       KOSLI_ENVIRONMENT: aws-beta{% endraw %}</span>
  <span class='line '>{% raw %}243     steps:{% endraw %}</span>
  <span class='line '>{% raw %}244       - uses: actions/checkout@v4{% endraw %}</span>
  <span class='line '>{% raw %}245         with:{% endraw %}</span>
  <span class='line '>{% raw %}246           fetch-depth: 0{% endraw %}</span>
  <span class='line '>{% raw %}247 {% endraw %}</span>
  <span class='line '>{% raw %}248       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %}249         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %}250         with:{% endraw %}</span>
  <span class='line '>{% raw %}251           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %}252 {% endraw %}</span>
  <span class='line '>{% raw %}253       - name: Attest approval of deployment to Kosli{% endraw %}</span>
  <span class='line '>{% raw %}254         run:{% endraw %}</span>
  <span class='line '>{% raw %}255           kosli report approval ${IMAGE_NAME}{% endraw %}</span>
  <span class='line '>{% raw %}256             --approver="${{ github.actor }}"{% endraw %}</span>
  <span class='line '>{% raw %}257 {% endraw %}</span>
  <span class='line '>{% raw %}258       - name: Attest expected deployment to Kosli{% endraw %}</span>
  <span class='line '>{% raw %}259         run:{% endraw %}</span>
  <span class='line '>{% raw %}260           kosli expect deployment ${IMAGE_NAME}{% endraw %}</span>
  <span class='line '>{% raw %}261             --description="Deployed to ${KOSLI_ENVIRONMENT} in Github Actions pipeline"{% endraw %}</span>
  <span class='line '>{% raw %}262 {% endraw %}</span>
  <span class='line '>{% raw %}263 {% endraw %}</span>
  <span class='line '>{% raw %}264   deploy-to-beta:{% endraw %}</span>
  <span class='line '>{% raw %}265     needs: [approve-deployment-to-beta, kosli-trail]{% endraw %}</span>
  <span class='line '>{% raw %}266     uses: ./.github/workflows/sub_deploy_to_beta.yml{% endraw %}</span>
  <span class='line '>{% raw %}267     with:{% endraw %}</span>
  <span class='line '>{% raw %}268       IMAGE_TAG: ${{ needs.kosli-trail.outputs.image_tag }}{% endraw %}</span>
  <span class='line '>{% raw %}269 {% endraw %}</span>
  <span class='line '>{% raw %}270 {% endraw %}</span>
  <span class='line '>{% raw %}271   approve-deployment-to-prod:{% endraw %}</span>
  <span class='line '>{% raw %}272     needs: [deploy-to-beta, kosli-trail, build-image]{% endraw %}</span>
  <span class='line '>{% raw %}273     runs-on: ubuntu-latest{% endraw %}</span>
  <span class='line '>{% raw %}274     env:{% endraw %}</span>
  <span class='line '>{% raw %}275       IMAGE_NAME:        ${{ needs.kosli-trail.outputs.image_name }}{% endraw %}</span>
  <span class='line '>{% raw %}276       KOSLI_FINGERPRINT: ${{ needs.build-image.outputs.kosli_fingerprint }}{% endraw %}</span>
  <span class='line '>{% raw %}277       KOSLI_ENVIRONMENT: aws-prod{% endraw %}</span>
  <span class='line '>{% raw %}278     steps:{% endraw %}</span>
  <span class='line '>{% raw %}279       - uses: actions/checkout@v4{% endraw %}</span>
  <span class='line '>{% raw %}280         with:{% endraw %}</span>
  <span class='line '>{% raw %}281           fetch-depth: 0{% endraw %}</span>
  <span class='line '>{% raw %}282 {% endraw %}</span>
  <span class='line '>{% raw %}283       - name: Setup Kosli CLI{% endraw %}</span>
  <span class='line '>{% raw %}284         uses: kosli-dev/setup-cli-action@v2{% endraw %}</span>
  <span class='line '>{% raw %}285         with:{% endraw %}</span>
  <span class='line '>{% raw %}286           version: ${{ vars.KOSLI_CLI_VERSION }}{% endraw %}</span>
  <span class='line '>{% raw %}287 {% endraw %}</span>
  <span class='line '>{% raw %}288       - name: Attest approval of deployment to Kosli{% endraw %}</span>
  <span class='line '>{% raw %}289         run:{% endraw %}</span>
  <span class='line '>{% raw %}290           kosli report approval ${IMAGE_NAME}{% endraw %}</span>
  <span class='line '>{% raw %}291             --approver="${{ github.actor }}"{% endraw %}</span>
  <span class='line '>{% raw %}292 {% endraw %}</span>
  <span class='line '>{% raw %}293       - name: Attest expected deployment to Kosli{% endraw %}</span>
  <span class='line '>{% raw %}294         run:{% endraw %}</span>
  <span class='line '>{% raw %}295           kosli expect deployment ${IMAGE_NAME}{% endraw %}</span>
  <span class='line '>{% raw %}296             --description="Deployed to {KOSLI_ENVIRONMENT} in Github Actions pipeline"{% endraw %}</span>
  <span class='line '>{% raw %}297 {% endraw %}</span>
  <span class='line '>{% raw %}298 {% endraw %}</span>
  <span class='line '>{% raw %}299   deploy-to-prod:{% endraw %}</span>
  <span class='line '>{% raw %}300     needs: [approve-deployment-to-prod, kosli-trail]{% endraw %}</span>
  <span class='line '>{% raw %}301     uses: ./.github/workflows/sub_deploy_to_prod.yml{% endraw %}</span>
  <span class='line '>{% raw %}302     with:{% endraw %}</span>
  <span class='line '>{% raw %}303       IMAGE_TAG: ${{ needs.kosli-trail.outputs.image_tag }}{% endraw %}</span>
  <span class='line '>{% raw %}304 {% endraw %}</span>
</div>
