<div class="ci-yml">
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line dashboard_pull-request">line for PR</span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line dashboard_lint"        >line for lint</span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line dashboard"             >line for dashboard</span>
  <span class="line dashboard"             >line for dashboard</span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line dashboard_unit-test"   >line for UT 1</span>
  <span class="line dashboard_unit-test"   >line for UT 2</span>
  <span class="line dashboard_unit-test"   >line for UT 2</span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line dashboard_snyk"        >line for snyk</span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
  <span class="line"                       ></span>
</div>
