<div class="title">commentary</div>

<div class="ci-yml-commentary">
  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line trail">here...trail
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_pull-request">here...pull-request
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_lint">here...lint
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard">here...dashboard
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_unit-test">here...unit-test
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_branch-coverage">here...branch-coverage
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line dashboard_snyk">here...snyk
  is some commentary that
    covers a few lines
    as they will
  </span>

  <span class="line">here...
  is some commentary that
    covers a few lines
    as they will
  </span>

</div>
