{% extends "base.html" %}

{% block body %}
  <h1>Kosli docs demo</h1>

  <table>
    <tr colspan="2">
      <td>
        <table>
          <tr>
            <td>
              <div class="attest" data-name="pull-request">
                <div>pull-request</div>
                <div>[tick]</div>
              </div>
            </td>

            <td>
              <div class="attest" data-name="lint">
                <div>lint</div>
                <div>[tick]</div>
              </div>
            </td>

            <td>
              <div class="attest" data-name="dashboard">
                <div>dashboard</div>
                <div>[tick]</div>
              </div>
            </td>

            <td>
              <div class="attest" data-name="dashboard.unit-test">
                <div>dashboard.unit-test</div>
                <div>[tick]</div>
              </div>
            </td>

            <td>
              <div class="attest" data-name="dashboard.snyk">
                <div>dashboard.snyk</div>
                <div>[tick]</div>
              </div>
            </td>

          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <div class="ci line 1">line 1</div>
        <div class="ci line 2">line 2</div>
        <div class="ci line 3">line 3</div>
        <div class="ci line 4">line 4</div>
      </td>
      <td>
        Template yml here
      </td>
    </tr>
  </table>


{% endblock %}

{% block js %}
<script type="text/javascript">
  $(window).ready(()=> {
    doAnAlert();
  });
</script>
{% endblock %}
