{% extends "base.html" %}

{% block body %}
  <h1>Kosli docs demo</h1>

  <table>
    <tr colspan="2">
      <td>
        <table>
          <tr>
            <td>
              <div class="attest">
                <div>pull-request</div>
                <div>[tick]</div>
              </div>
            </td>

            <td>
              <div class="attest">
                <div>lint</div>
                <div>[tick]</div>
              </div>
            </td>

            <td>
              <div class="attest">
                <div>dashboard</div>
                <div>[tick]</div>
              </div>
            </td>

            <td>
              <div class="attest">
                <div>dashboard.unit-test</div>
                <div>[tick]</div>
              </div>
            </td>

            <td>
              <div class="attest">
                <div>dashboard.snyk</div>
                <div>[tick]</div>
              </div>
            </td>

          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        CI yml here
      </td>
      <td>
        Template yml here
      </td>
    </tr>
  </table>


{% endblock %}

{% block js %}
<script type="text/javascript">
  $(window).ready(()=> {
    doAnAlert();
  });
</script>
{% endblock %}
