<div class="template-yml">
  <span class="line"                       >version: 1</span>
  <span class="line"                       ></span>
  <span class="line"                       >trail:</span>
  <span class="line"                       >  artifacts:</span>
  <span class="line dashboard"             >    --name: dashboard</span>
  <span class="line"                       >    attestations:</span>
  <span class="line dashboard_lint"        >      --name: lint</span>
  <span class="line dashboard_lint"        >        type: generic</span>
  <span class="line dashboard_pull-request">      --name: pull-request</span>
  <span class="line dashboard_pull-request">        type: pull_request</span>
  <span class="line dashboard_unit-test"   >      --name: unit-test</span>
  <span class="line dashboard_unit-test"   >        type: junit</span>
  <span class="line dashboard_snyk"        >      --name: snyk</span>
  <span class="line dashboard_snyk"        >        type: snyk</span>
  <span class="line"                       ></span>
</div>
