<div class="title">.kosli.yml</div>

<div class="template-yml">
  <span class="line"                          ><span class='number'>  1</span> version: 1</span>
  <span class="line"                          ><span class='number'>  2</span> </span>
  <span class="line trail"                    ><span class='number'>  3</span> trail:</span>
  <span class="line"                          ><span class='number'>  4</span>   artifacts:</span>
  <span class="line dashboard"                ><span class='number'>  5</span>     --name: dashboard</span>
  <span class="line"                          ><span class='number'>  6</span>     attestations:</span>
  <span class="line dashboard_lint"           ><span class='number'>  7</span>       --name: lint</span>
  <span class="line dashboard_lint"           ><span class='number'>  8</span>         type: generic</span>
  <span class="line dashboard_pull-request"   ><span class='number'>  9</span>       --name: pull-request</span>
  <span class="line dashboard_pull-request"   ><span class='number'> 10</span>         type: pull_request</span>
  <span class="line dashboard_unit-test"      ><span class='number'> 11</span>       --name: unit-test</span>
  <span class="line dashboard_unit-test"      ><span class='number'> 12</span>         type: junit</span>
  <span class="line dashboard_branch-coverage"><span class='number'> 13</span>       --name: branch-coverage</span>
  <span class="line dashboard_branch-coverage"><span class='number'> 14</span>         type: generic</span>
  <span class="line dashboard_snyk"           ><span class='number'> 15</span>       --name: snyk</span>
  <span class="line dashboard_snyk"           ><span class='number'> 16</span>         type: snyk</span>
  <span class="line"                          ><span class='number'> 17</span> </span>
  <span class="line"                          ><span class='number'> 18</span> </span>
  <span class="line"                          ><span class='number'> 19</span> </span>
</div>
