
html {
  scroll-behavior: smooth;
}
@media(prefers-reduced-motion) {
  html {
	  scroll-behavior: auto;
	}
}

body {
    margin-left: 45px;
    background: khaki;
    font-size: 1em
}

.template-yml, .template-yml-commentary {
    font-size: 0.6em;
    white-space: pre;
    width: 700px;
    border: 1px solid LightGray;
    padding-left: 5px;
    background-color: White;
    height: 200px;
    overflow-y: scroll;
    overflow: scroll
}

.attest {
    margin: 10px;
    padding: 10px 10px 10px 20px;
    font-size: 1.6em;
    border: 1px solid LightGray;
    background-color: White;
}

.ci-yml, .ci-yml-commentary {
    font-size: 0.6em;
    white-space: pre;
    width: 700px;
    border: 1px solid LightGray;
    background-color: White;
    height: 400px;
    overflow-y: scroll;
    overflow: scroll
}

.ci-yml, .template-yml {
    background-color: Black;
    color: White;
    .lit {
        background-color: lighten(Black, 50%);
    }
}

.line {
    font-family: monospace;
    font-size: 1.6em;
    height: 24px;
    .number {
        color: darken(White, 50%);
    }
    &.lit .number {
        color: White;
    }
    &.s:hover {
        cursor: pointer;
    }
}

.title {
    padding-top: 20px;
    font-size: 1.6em;
}

.lit {
    background-color: lighten(LightBlue, 10%);
}
