
body {
    margin-left: 45px;
    background: khaki;
    font-size: 1em
}

.attest {
    margin: 10px;
    padding: 10px 10px 10px 20px;
    font-size: 1.3em;
    border: 3px solid LightGray;
    background-color: White;
    &:hover {
        cursor: pointer;
    }
}

.title {
    padding-top: 20px;
    font-size: 1.6em;
}

.explained-code, .code-explanation {
    width: 700px;
    background-color: White;
    overflow-y: scroll;
    overflow: scroll
}

.explained-code {
    white-space: pre;
    font-size: 0.55em;
    background-color: Black;
    color: White;
    .line {
        font-family: monospace;
        font-size: 1.6em;
        height: 24px;
        .number {
            color: darken(White, 50%);
        }
        &.lit {
            background-color: lighten(Black, 50%);
            .number {
                color: White;
            }
        }
    }
}

.code-explanation {
    margin-left: 5px;
    padding-left: 10px;
    font-size: 1em;
    .lit {
        background-color: lighten(LightBlue, 10%);
    }
}

//- - - - - - - - - - - - - - - -

.template-yml, .template-yml-commentary {
    height: 200px;
}

.ci-yml, .ci-yml-commentary {
    height: 450px;
}

