
body {
    margin-left: 45px;
    background: khaki;
    font-size: 1em
}

.attest {
    margin: 10px;
    padding: 10px 10px 10px 20px;
    font-size: 1.3em;
    border: 3px solid LightGray;
    background-color: White;
    &:hover {
        cursor: pointer;
    }
}

.template-yml, .template-yml-commentary, .ci-yml, .ci-yml-commentary {
    width: 700px;
    background-color: White;
    overflow-y: scroll;
    overflow: scroll
}

.template-yml, .ci-yml {
    white-space: pre;
}

.template-yml, .template-yml-commentary {
    height: 200px;
}

.ci-yml, .ci-yml-commentary {
    height: 450px;
}

.ci-yml, .template-yml {
    font-size: 0.55em;
    background-color: Black;
    color: White;
    .lit, .s.lit:hover {
        background-color: lighten(Black, 50%);
    }
}

.ci-yml-commentary, .template-yml-commentary {
    margin-left: 5px;
    padding-left: 10px;
    font-size: 1em;
}

.line {
    font-family: monospace;
    font-size: 1.6em;
    height: 24px;
    .number {
        color: darken(White, 50%);
    }
    &.lit .number {
        color: White;
    }
    &.s:hover {
        cursor: pointer;
        background-color: lighten(Black, 20%);
    }
}

.title {
    padding-top: 20px;
    font-size: 1.6em;
}

.lit {
    background-color: lighten(LightBlue, 10%);
}
