<div class="title">Attestations</div>

<table>
  <tr>
    <td>
      <div class="attest"
           data-name="pull-request">
        <div>dashboard.pull-request</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="lint">
        <div>dashboard.lint</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="artifact">
        <div>dashboard</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="unit-test">
        <div>dashboard.unit-test</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="branch-coverage">
        <div>dashboard.branch-coverage</div>
        <div>[tick]</div>
      </div>
    </td>

    <td>
      <div class="attest"
           data-name="snyk">
        <div>dashboard.snyk</div>
        <div>[tick]</div>
      </div>
    </td>

  </tr>
</table>
